package components
import "{{ .StructsImport }}"

{{ $svgPaths := .Component.SvgPaths }}
{{ range .Component.Variants }}
{{ $direction := index .Props "direction" }}
{{ $paths := index $svgPaths $direction }}
templ {{ .Name }}{{ if eq $direction "left" }}Left{{ else if eq $direction "right" }}Right{{ else if eq $direction "up" }}Up{{ else }}Down{{ end }}(props *structs.{{ $.Struct.Name }}) {
	<div
		class="border-2 rounded-md hover:bg-secondary cursor-pointer {{ .Props.borderColor }} {{ .Props.padding }}"
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
        if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
	>
		<svg width="{{ .Props.svgSize }}" height="{{ .Props.svgSize }}" viewBox="0 0 24 24" fill="none" stroke="{{ .Props.strokeColor }}" stroke-width="2">
			{{ range $paths }}<polyline points="{{ . }}"></polyline>{{ end }}
		</svg>
	</div>
}

{{ end }}
