package components
import "{{ .StructsImport }}"

templ Form(props *structs.{{ .Struct.Name }}) {
	<form
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Name != "" {
			name={ props.Name }
		}
		if props.FormBehaviors.ConstraintForm {
			data-constraint-form="true"
		}
		if props.DirtyScope {
			data-dirty-scope="true"
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
	>
		{ children... }
	</form>
}
