package components
import "{{ .StructsImport }}"
{{ range .Component.Variants }}
templ {{ .Name }}Link(props *structs.{{ $.Struct.Name }}) {
    <a	
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		if props.Common.Class != "" {
			class={ "cursor-pointer underline {{ .Props.colorClass }} " + props.Common.Class }
		} else {
			class="cursor-pointer underline {{ .Props.colorClass }}"
		}
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</a>
}
{{ end }}
