package components
import "{{ .StructsImport }}"

// Base component with the variant as a parameter
templ noticeBase(props *structs.{{ .Struct.Name }}, bgClass string) {
	<h5
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Name != "" {
			name={ props.Name }
		}
		class={ "p-3 text-center justify-center flex " + bgClass }
	>
		if props.Value != "" {
			if props.Align() {
				{ props.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}
{{ range .Component.Variants }}
templ Notice{{ .Name }}(props *structs.{{ $.Struct.Name }}) {
	@noticeBase(props, "{{ .Props.bgClass }}") {
		{ children... }
	}
}
{{ end }}
