package components
import "{{ .StructsImport }}"
{{ range .Component.Variants }}
templ {{ .Name }}Textarea(props *structs.{{ $.Struct.Name }}) {
	<textarea
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Placeholder != "" {
			placeholder={ props.Placeholder }
		}
		if props.Rows > 0 {
			rows={ props.RowsString() }
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Autofocus {
			autofocus
		}
		if props.Required {
			required
		}
		if props.Common.Class != "" {
			class={ "text-md p-2 rounded w-full cursor-pointer outline-none resize-y {{ .Props.bgClass }} {{ .Props.borderClass }} {{ .Props.focusBorderClass }} {{ .Props.textClass }} " + props.Common.Class }
		} else {
			class="text-md p-2 rounded w-full cursor-pointer outline-none resize-y {{ .Props.bgClass }} {{ .Props.borderClass }} {{ .Props.focusBorderClass }} {{ .Props.textClass }}"
		}
		if props.FormBehaviors.ConstraintString() != "" {
			data-constraint={ props.FormBehaviors.ConstraintString() }
		}
		if props.FormBehaviors.DirtyWatch {
			data-dirty-watch="true"
		}
		if props.FormBehaviors.DirtyGroup != "" {
			data-dirty-group={ props.FormBehaviors.DirtyGroup }
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>{ props.Common.Value }</textarea>
	if props.Common.ID != "" {
		<div id={ props.Common.ID + "-errors" } class="text-red-600 text-sm mt-1 hidden"></div>
	}
}
{{ end }}
