package components
import "github.com/alterejoe/shared/structs"

templ PrimaryButton(props *structs.Button) {
	<button
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "py-2 px-4 text-xl cursor-pointer transition-colors bg-primary hover:bg-primary/90 " + props.Common.Class }
		} else {
			class="py-2 px-4 text-xl cursor-pointer transition-colors bg-primary hover:bg-primary/90"
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</button>
}

templ SecondaryButton(props *structs.Button) {
	<button
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "py-2 px-4 text-xl cursor-pointer transition-colors bg-secondary hover:bg-secondary/90 " + props.Common.Class }
		} else {
			class="py-2 px-4 text-xl cursor-pointer transition-colors bg-secondary hover:bg-secondary/90"
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</button>
}

templ TertiaryButton(props *structs.Button) {
	<button
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "py-2 px-4 text-xl cursor-pointer transition-colors bg-tertiary hover:bg-tertiary/90 " + props.Common.Class }
		} else {
			class="py-2 px-4 text-xl cursor-pointer transition-colors bg-tertiary hover:bg-tertiary/90"
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</button>
}

templ QuaternaryButton(props *structs.Button) {
	<button
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "py-2 px-4 text-xl cursor-pointer transition-colors bg-quaternary hover:bg-quaternary/90 " + props.Common.Class }
		} else {
			class="py-2 px-4 text-xl cursor-pointer transition-colors bg-quaternary hover:bg-quaternary/90"
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</button>
}

templ AccentButton(props *structs.Button) {
	<button
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "py-2 px-4 text-xl cursor-pointer transition-colors bg-accent hover:bg-accent/90 " + props.Common.Class }
		} else {
			class="py-2 px-4 text-xl cursor-pointer transition-colors bg-accent hover:bg-accent/90"
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</button>
}

templ UniqueButton(props *structs.Button) {
	<button
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "py-2 px-4 text-xl cursor-pointer transition-colors bg-unique hover:bg-unique/90 " + props.Common.Class }
		} else {
			class="py-2 px-4 text-xl cursor-pointer transition-colors bg-unique hover:bg-unique/90"
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</button>
}

templ AttentionButton(props *structs.Button) {
	<button
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "py-2 px-4 text-xl cursor-pointer transition-colors bg-attention hover:bg-attention/90 " + props.Common.Class }
		} else {
			class="py-2 px-4 text-xl cursor-pointer transition-colors bg-attention hover:bg-attention/90"
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</button>
}

templ TransparentButton(props *structs.Button) {
	<button
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "py-2 px-4 text-xl cursor-pointer transition-colors bg-transparent hover:bg-transparent/90 " + props.Common.Class }
		} else {
			class="py-2 px-4 text-xl cursor-pointer transition-colors bg-transparent hover:bg-transparent/90"
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</button>
}

templ GhostButton(props *structs.Button) {
	<button
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "py-2 px-4 text-xl cursor-pointer transition-colors invisible hover:invisible/90 " + props.Common.Class }
		} else {
			class="py-2 px-4 text-xl cursor-pointer transition-colors invisible hover:invisible/90"
		}
		if props.Common.Disabled {
			disabled
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
        if props.Hx.OnAfterRequest != "" {
            { templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
        }
        if props.Hx.OnBeforeRequest != "" {
            { templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
        }
        if props.Hx.OnAfterSettle != "" {
            { templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
        }
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</button>
}

