package components

import "github.com/alterejoe/shared/structs"

templ Form(props *structs.Form) {
	<form
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ props.Common.Class }
		}
		if props.FormBehaviors.ConstraintForm {
			data-constraint-form="true"
		}
		if props.DirtyScope {
			data-dirty-scope="true"
		}
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Params != "" {
			hx-params={ props.Hx.Params }
		}
		if props.Hx.OnAfterRequest != "" {
			{ templ.Attributes{"hx-on::after-request": props.Hx.OnAfterRequest}... }
		}
		if props.Hx.OnBeforeRequest != "" {
			{ templ.Attributes{"hx-on::before-request": props.Hx.OnBeforeRequest}... }
		}
		if props.Hx.OnAfterSettle != "" {
			{ templ.Attributes{"hx-on::after-settle": props.Hx.OnAfterSettle}... }
		}
	>
		{ children... }
	</form>
}
