package components
import "github.com/alterejoe/shared/structs"

templ PrimaryLink(props *structs.Link) {
    <a	
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		if props.Common.Class != "" {
			class={ "cursor-pointer underline text-primary hover:text-primary/80 " + props.Common.Class }
		} else {
			class="cursor-pointer underline text-primary hover:text-primary/80"
		}
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</a>
}

templ SecondaryLink(props *structs.Link) {
    <a	
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		if props.Common.Class != "" {
			class={ "cursor-pointer underline text-secondary hover:text-secondary/80 " + props.Common.Class }
		} else {
			class="cursor-pointer underline text-secondary hover:text-secondary/80"
		}
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</a>
}

templ TertiaryLink(props *structs.Link) {
    <a	
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		if props.Common.Class != "" {
			class={ "cursor-pointer underline text-tertiary hover:text-tertiary/80 " + props.Common.Class }
		} else {
			class="cursor-pointer underline text-tertiary hover:text-tertiary/80"
		}
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</a>
}

templ AccentLink(props *structs.Link) {
    <a	
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		if props.Common.Class != "" {
			class={ "cursor-pointer underline text-accent hover:text-accent/80 " + props.Common.Class }
		} else {
			class="cursor-pointer underline text-accent hover:text-accent/80"
		}
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</a>
}

templ UniqueLink(props *structs.Link) {
    <a	
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		if props.Common.Class != "" {
			class={ "cursor-pointer underline text-unique hover:text-unique/80 " + props.Common.Class }
		} else {
			class="cursor-pointer underline text-unique hover:text-unique/80"
		}
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</a>
}

templ AttentionLink(props *structs.Link) {
    <a	
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		if props.Common.Class != "" {
			class={ "cursor-pointer underline text-attention hover:text-attention/80 " + props.Common.Class }
		} else {
			class="cursor-pointer underline text-attention hover:text-attention/80"
		}
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</a>
}

templ DefaultLink(props *structs.Link) {
    <a	
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		if props.Common.Class != "" {
			class={ "cursor-pointer underline text-blue-600 hover:text-blue-800 " + props.Common.Class }
		} else {
			class="cursor-pointer underline text-blue-600 hover:text-blue-800"
		}
	>
		if props.Common.Value != "" {
			{ props.Common.Value }
		} else {
			{ children... }
		}
	</a>
}

