package components
import "github.com/alterejoe/shared/structs"


templ LinkPrimary(props *structs.Link) {
    <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ props.Href }
		}
		class="cursor-pointer underline text-primary hover:text-primary/80"
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Boost {
			hx-boost="true"
		}
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}


templ LinkSecondary(props *structs.Link) {
    <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ props.Href }
		}
		class="cursor-pointer underline text-secondary hover:text-secondary/80"
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Boost {
			hx-boost="true"
		}
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}


templ LinkTertiary(props *structs.Link) {
    <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ props.Href }
		}
		class="cursor-pointer underline text-tertiary hover:text-tertiary/80"
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Boost {
			hx-boost="true"
		}
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}


templ LinkAccent(props *structs.Link) {
    <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ props.Href }
		}
		class="cursor-pointer underline text-accent hover:text-accent/80"
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Boost {
			hx-boost="true"
		}
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}


templ LinkUnique(props *structs.Link) {
    <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ props.Href }
		}
		class="cursor-pointer underline text-unique hover:text-unique/80"
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Boost {
			hx-boost="true"
		}
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}


templ LinkAttention(props *structs.Link) {
    <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ props.Href }
		}
		class="cursor-pointer underline text-attention hover:text-attention/80"
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Boost {
			hx-boost="true"
		}
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}


templ LinkDefault(props *structs.Link) {
    <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ props.Href }
		}
		class="cursor-pointer underline text-blue-600 hover:text-blue-800"
		if props.Hx.Method == structs.GET {
			hx-get={ props.Hx.URL }
		}
		if props.Hx.Method == structs.POST {
			hx-post={ props.Hx.URL }
		}
		if props.Hx.Method == structs.PUT {
			hx-put={ props.Hx.URL }
		}
		if props.Hx.Method == structs.DELETE {
			hx-delete={ props.Hx.URL }
		}
		if props.Hx.Trigger != "" {
			hx-trigger={ props.Hx.Trigger }
		}
		if props.Hx.Target != "" {
			hx-target={ props.Hx.Target }
		}
		if props.Hx.Swap != "" {
			hx-swap={ props.Hx.Swap }
		}
		if props.Hx.Vals != "" {
			hx-vals={ props.Hx.Vals }
		}
		if props.Hx.Include != "" {
			hx-include={ props.Hx.Include }
		}
		if props.Hx.Indicator != "" {
			hx-indicator={ props.Hx.Indicator }
		}
		if props.Hx.Confirm != "" {
			hx-confirm={ props.Hx.Confirm }
		}
		if props.Hx.PushURL != "" {
			hx-push-url={ props.Hx.PushURL }
		}
		if props.Hx.Boost {
			hx-boost="true"
		}
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}


