package components
import "github.com/alterejoe/shared/structs"

templ PrimaryLinkButton(props *structs.Link) {
     <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		class="py-2 px-4 text-xl cursor-pointer transition-colors bg-primary hover:bg-primary/90"
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}

templ SecondaryLinkButton(props *structs.Link) {
     <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		class="py-2 px-4 text-xl cursor-pointer transition-colors bg-secondary hover:bg-secondary/90"
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}

templ TertiaryLinkButton(props *structs.Link) {
     <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		class="py-2 px-4 text-xl cursor-pointer transition-colors bg-tertiary hover:bg-tertiary/90"
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}

templ QuaternaryLinkButton(props *structs.Link) {
     <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		class="py-2 px-4 text-xl cursor-pointer transition-colors bg-quaternary hover:bg-quaternary/90"
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}

templ AccentLinkButton(props *structs.Link) {
     <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		class="py-2 px-4 text-xl cursor-pointer transition-colors bg-accent hover:bg-accent/90"
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}

templ UniqueLinkButton(props *structs.Link) {
     <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		class="py-2 px-4 text-xl cursor-pointer transition-colors bg-unique hover:bg-unique/90"
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}

templ AttentionLinkButton(props *structs.Link) {
     <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		class="py-2 px-4 text-xl cursor-pointer transition-colors bg-attention hover:bg-attention/90"
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}

templ TransparentLinkButton(props *structs.Link) {
     <a	
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Href != "" {
			href={ templ.SafeURL(props.Href) }
		}
		class="py-2 px-4 text-xl cursor-pointer transition-colors bg-transparent hover:bg-transparent/90"
	>
		if props.Value != "" {
			{ props.Value }
		} else {
			{ children... }
		}
	</a>
}

