package components
import "github.com/alterejoe/shared/structs"

// Base component with the variant as a parameter
templ noticeBase(props *structs.Notice, bgClass string) {
	<h5
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Name != "" {
			name={ props.Name }
		}
		class={ "p-3 text-center justify-center flex " + bgClass }
	>
		if props.Value != "" {
			if props.Align() {
				{ props.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}

templ NoticePrimary(props *structs.Notice) {
	@noticeBase(props, "bg-primary") {
		{ children... }
	}
}

templ NoticeSecondary(props *structs.Notice) {
	@noticeBase(props, "bg-secondary") {
		{ children... }
	}
}

templ NoticeTertiary(props *structs.Notice) {
	@noticeBase(props, "bg-tertiary") {
		{ children... }
	}
}

templ NoticeAccent(props *structs.Notice) {
	@noticeBase(props, "bg-accent") {
		{ children... }
	}
}

templ NoticeUnique(props *structs.Notice) {
	@noticeBase(props, "bg-unique") {
		{ children... }
	}
}

templ NoticeAttention(props *structs.Notice) {
	@noticeBase(props, "bg-attention") {
		{ children... }
	}
}

