package components
import "github.com/alterejoe/shared/structs"


templ NoticePrimary(props *structs.Notice) {
	<h5
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Name != "" {
			name={ props.Name }
		}
		class="p-3 text-center justify-center flex bg-primary"
	>
		if props.Value != "" {
			if props.Align() {
				{ props.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}


templ NoticeSecondary(props *structs.Notice) {
	<h5
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Name != "" {
			name={ props.Name }
		}
		class="p-3 text-center justify-center flex bg-secondary"
	>
		if props.Value != "" {
			if props.Align() {
				{ props.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}


templ NoticeTertiary(props *structs.Notice) {
	<h5
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Name != "" {
			name={ props.Name }
		}
		class="p-3 text-center justify-center flex bg-tertiary"
	>
		if props.Value != "" {
			if props.Align() {
				{ props.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}


templ NoticeAccent(props *structs.Notice) {
	<h5
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Name != "" {
			name={ props.Name }
		}
		class="p-3 text-center justify-center flex bg-accent"
	>
		if props.Value != "" {
			if props.Align() {
				{ props.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}


templ NoticeUnique(props *structs.Notice) {
	<h5
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Name != "" {
			name={ props.Name }
		}
		class="p-3 text-center justify-center flex bg-unique"
	>
		if props.Value != "" {
			if props.Align() {
				{ props.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}


templ NoticeAttention(props *structs.Notice) {
	<h5
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Name != "" {
			name={ props.Name }
		}
		class="p-3 text-center justify-center flex bg-attention"
	>
		if props.Value != "" {
			if props.Align() {
				{ props.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}


