package components
import "github.com/alterejoe/shared/structs"

templ NoticePrimary(props *structs.Notice) {
	<h5
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "p-3 text-center justify-center flex bg-primary " + props.Common.Class }
		} else {
			class="p-3 text-center justify-center flex bg-primary"
		}
	>
		if props.Common.Value != "" {
			if props.Align() {
				{ props.Common.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Common.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}

templ NoticeSecondary(props *structs.Notice) {
	<h5
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "p-3 text-center justify-center flex bg-secondary " + props.Common.Class }
		} else {
			class="p-3 text-center justify-center flex bg-secondary"
		}
	>
		if props.Common.Value != "" {
			if props.Align() {
				{ props.Common.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Common.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}

templ NoticeTertiary(props *structs.Notice) {
	<h5
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "p-3 text-center justify-center flex bg-tertiary " + props.Common.Class }
		} else {
			class="p-3 text-center justify-center flex bg-tertiary"
		}
	>
		if props.Common.Value != "" {
			if props.Align() {
				{ props.Common.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Common.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}

templ NoticeAccent(props *structs.Notice) {
	<h5
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "p-3 text-center justify-center flex bg-accent " + props.Common.Class }
		} else {
			class="p-3 text-center justify-center flex bg-accent"
		}
	>
		if props.Common.Value != "" {
			if props.Align() {
				{ props.Common.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Common.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}

templ NoticeUnique(props *structs.Notice) {
	<h5
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "p-3 text-center justify-center flex bg-unique " + props.Common.Class }
		} else {
			class="p-3 text-center justify-center flex bg-unique"
		}
	>
		if props.Common.Value != "" {
			if props.Align() {
				{ props.Common.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Common.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}

templ NoticeAttention(props *structs.Notice) {
	<h5
		if props.Common.ID != "" {
			id={ props.Common.ID }
		}
		if props.Common.Name != "" {
			name={ props.Common.Name }
		}
		if props.Common.Class != "" {
			class={ "p-3 text-center justify-center flex bg-attention " + props.Common.Class }
		} else {
			class="p-3 text-center justify-center flex bg-attention"
		}
	>
		if props.Common.Value != "" {
			if props.Align() {
				{ props.Common.Value }
				{ children... }
			} else {
				{ children... }
				{ props.Common.Value }
			}
		} else {
			{ children... }
		}
	</h5>
}

