package components
import "github.com/alterejoe/shared/structs"


templ PrimaryRadioButton(props *structs.Radio) {
	<div class="flex items-center">
		<input
			type="radio"
			if props.ID != "" {
				id={ props.ID }
			}
			if props.Name != "" {
				name={ props.Name }
			}
			if props.Value != "" {
				value={ props.Value }
			}
			if props.Checked {
				checked
			}
			if props.Disabled {
				disabled
			}
			if props.Required {
				required
			}
			class="peer sr-only absolute"
			if props.FormBehaviors.ConstraintString() != "" {
				data-constraint={ props.FormBehaviors.ConstraintString() }
			}
			if props.FormBehaviors.DirtyWatch {
				data-dirty-watch="true"
			}
			if props.FormBehaviors.DirtyGroup != "" {
				data-dirty-group={ props.FormBehaviors.DirtyGroup }
			}
			if props.Hx.Method == structs.GET {
				hx-get={ props.Hx.URL }
			}
			if props.Hx.Method == structs.POST {
				hx-post={ props.Hx.URL }
			}
			if props.Hx.Method == structs.PUT {
				hx-put={ props.Hx.URL }
			}
			if props.Hx.Method == structs.DELETE {
				hx-delete={ props.Hx.URL }
			}
			if props.Hx.Trigger != "" {
				hx-trigger={ props.Hx.Trigger }
			}
			if props.Hx.Target != "" {
				hx-target={ props.Hx.Target }
			}
			if props.Hx.Swap != "" {
				hx-swap={ props.Hx.Swap }
			}
			if props.Hx.Vals != "" {
				hx-vals={ props.Hx.Vals }
			}
			if props.Hx.Include != "" {
				hx-include={ props.Hx.Include }
			}
			if props.Hx.Indicator != "" {
				hx-indicator={ props.Hx.Indicator }
			}
			if props.Hx.Confirm != "" {
				hx-confirm={ props.Hx.Confirm }
			}
			if props.Hx.PushURL != "" {
				hx-push-url={ props.Hx.PushURL }
			}
		/>
		<label
			if props.ID != "" {
				for={ props.ID }
			}
			class="px-3 py-2 rounded cursor-pointer inline-flex items-center select-none border-2 border-transparent bg-primary peer-checked:border-slate-700"
		>
			{ props.Value }
		</label>
	</div>
}


templ SecondaryRadioButton(props *structs.Radio) {
	<div class="flex items-center">
		<input
			type="radio"
			if props.ID != "" {
				id={ props.ID }
			}
			if props.Name != "" {
				name={ props.Name }
			}
			if props.Value != "" {
				value={ props.Value }
			}
			if props.Checked {
				checked
			}
			if props.Disabled {
				disabled
			}
			if props.Required {
				required
			}
			class="peer sr-only absolute"
			if props.FormBehaviors.ConstraintString() != "" {
				data-constraint={ props.FormBehaviors.ConstraintString() }
			}
			if props.FormBehaviors.DirtyWatch {
				data-dirty-watch="true"
			}
			if props.FormBehaviors.DirtyGroup != "" {
				data-dirty-group={ props.FormBehaviors.DirtyGroup }
			}
			if props.Hx.Method == structs.GET {
				hx-get={ props.Hx.URL }
			}
			if props.Hx.Method == structs.POST {
				hx-post={ props.Hx.URL }
			}
			if props.Hx.Method == structs.PUT {
				hx-put={ props.Hx.URL }
			}
			if props.Hx.Method == structs.DELETE {
				hx-delete={ props.Hx.URL }
			}
			if props.Hx.Trigger != "" {
				hx-trigger={ props.Hx.Trigger }
			}
			if props.Hx.Target != "" {
				hx-target={ props.Hx.Target }
			}
			if props.Hx.Swap != "" {
				hx-swap={ props.Hx.Swap }
			}
			if props.Hx.Vals != "" {
				hx-vals={ props.Hx.Vals }
			}
			if props.Hx.Include != "" {
				hx-include={ props.Hx.Include }
			}
			if props.Hx.Indicator != "" {
				hx-indicator={ props.Hx.Indicator }
			}
			if props.Hx.Confirm != "" {
				hx-confirm={ props.Hx.Confirm }
			}
			if props.Hx.PushURL != "" {
				hx-push-url={ props.Hx.PushURL }
			}
		/>
		<label
			if props.ID != "" {
				for={ props.ID }
			}
			class="px-3 py-2 rounded cursor-pointer inline-flex items-center select-none border-2 border-transparent bg-secondary peer-checked:border-slate-700"
		>
			{ props.Value }
		</label>
	</div>
}


templ TertiaryRadioButton(props *structs.Radio) {
	<div class="flex items-center">
		<input
			type="radio"
			if props.ID != "" {
				id={ props.ID }
			}
			if props.Name != "" {
				name={ props.Name }
			}
			if props.Value != "" {
				value={ props.Value }
			}
			if props.Checked {
				checked
			}
			if props.Disabled {
				disabled
			}
			if props.Required {
				required
			}
			class="peer sr-only absolute"
			if props.FormBehaviors.ConstraintString() != "" {
				data-constraint={ props.FormBehaviors.ConstraintString() }
			}
			if props.FormBehaviors.DirtyWatch {
				data-dirty-watch="true"
			}
			if props.FormBehaviors.DirtyGroup != "" {
				data-dirty-group={ props.FormBehaviors.DirtyGroup }
			}
			if props.Hx.Method == structs.GET {
				hx-get={ props.Hx.URL }
			}
			if props.Hx.Method == structs.POST {
				hx-post={ props.Hx.URL }
			}
			if props.Hx.Method == structs.PUT {
				hx-put={ props.Hx.URL }
			}
			if props.Hx.Method == structs.DELETE {
				hx-delete={ props.Hx.URL }
			}
			if props.Hx.Trigger != "" {
				hx-trigger={ props.Hx.Trigger }
			}
			if props.Hx.Target != "" {
				hx-target={ props.Hx.Target }
			}
			if props.Hx.Swap != "" {
				hx-swap={ props.Hx.Swap }
			}
			if props.Hx.Vals != "" {
				hx-vals={ props.Hx.Vals }
			}
			if props.Hx.Include != "" {
				hx-include={ props.Hx.Include }
			}
			if props.Hx.Indicator != "" {
				hx-indicator={ props.Hx.Indicator }
			}
			if props.Hx.Confirm != "" {
				hx-confirm={ props.Hx.Confirm }
			}
			if props.Hx.PushURL != "" {
				hx-push-url={ props.Hx.PushURL }
			}
		/>
		<label
			if props.ID != "" {
				for={ props.ID }
			}
			class="px-3 py-2 rounded cursor-pointer inline-flex items-center select-none border-2 border-transparent bg-tertiary peer-checked:border-slate-700"
		>
			{ props.Value }
		</label>
	</div>
}


templ AccentRadioButton(props *structs.Radio) {
	<div class="flex items-center">
		<input
			type="radio"
			if props.ID != "" {
				id={ props.ID }
			}
			if props.Name != "" {
				name={ props.Name }
			}
			if props.Value != "" {
				value={ props.Value }
			}
			if props.Checked {
				checked
			}
			if props.Disabled {
				disabled
			}
			if props.Required {
				required
			}
			class="peer sr-only absolute"
			if props.FormBehaviors.ConstraintString() != "" {
				data-constraint={ props.FormBehaviors.ConstraintString() }
			}
			if props.FormBehaviors.DirtyWatch {
				data-dirty-watch="true"
			}
			if props.FormBehaviors.DirtyGroup != "" {
				data-dirty-group={ props.FormBehaviors.DirtyGroup }
			}
			if props.Hx.Method == structs.GET {
				hx-get={ props.Hx.URL }
			}
			if props.Hx.Method == structs.POST {
				hx-post={ props.Hx.URL }
			}
			if props.Hx.Method == structs.PUT {
				hx-put={ props.Hx.URL }
			}
			if props.Hx.Method == structs.DELETE {
				hx-delete={ props.Hx.URL }
			}
			if props.Hx.Trigger != "" {
				hx-trigger={ props.Hx.Trigger }
			}
			if props.Hx.Target != "" {
				hx-target={ props.Hx.Target }
			}
			if props.Hx.Swap != "" {
				hx-swap={ props.Hx.Swap }
			}
			if props.Hx.Vals != "" {
				hx-vals={ props.Hx.Vals }
			}
			if props.Hx.Include != "" {
				hx-include={ props.Hx.Include }
			}
			if props.Hx.Indicator != "" {
				hx-indicator={ props.Hx.Indicator }
			}
			if props.Hx.Confirm != "" {
				hx-confirm={ props.Hx.Confirm }
			}
			if props.Hx.PushURL != "" {
				hx-push-url={ props.Hx.PushURL }
			}
		/>
		<label
			if props.ID != "" {
				for={ props.ID }
			}
			class="px-3 py-2 rounded cursor-pointer inline-flex items-center select-none border-2 border-transparent bg-accent peer-checked:border-slate-700"
		>
			{ props.Value }
		</label>
	</div>
}


templ UniqueRadioButton(props *structs.Radio) {
	<div class="flex items-center">
		<input
			type="radio"
			if props.ID != "" {
				id={ props.ID }
			}
			if props.Name != "" {
				name={ props.Name }
			}
			if props.Value != "" {
				value={ props.Value }
			}
			if props.Checked {
				checked
			}
			if props.Disabled {
				disabled
			}
			if props.Required {
				required
			}
			class="peer sr-only absolute"
			if props.FormBehaviors.ConstraintString() != "" {
				data-constraint={ props.FormBehaviors.ConstraintString() }
			}
			if props.FormBehaviors.DirtyWatch {
				data-dirty-watch="true"
			}
			if props.FormBehaviors.DirtyGroup != "" {
				data-dirty-group={ props.FormBehaviors.DirtyGroup }
			}
			if props.Hx.Method == structs.GET {
				hx-get={ props.Hx.URL }
			}
			if props.Hx.Method == structs.POST {
				hx-post={ props.Hx.URL }
			}
			if props.Hx.Method == structs.PUT {
				hx-put={ props.Hx.URL }
			}
			if props.Hx.Method == structs.DELETE {
				hx-delete={ props.Hx.URL }
			}
			if props.Hx.Trigger != "" {
				hx-trigger={ props.Hx.Trigger }
			}
			if props.Hx.Target != "" {
				hx-target={ props.Hx.Target }
			}
			if props.Hx.Swap != "" {
				hx-swap={ props.Hx.Swap }
			}
			if props.Hx.Vals != "" {
				hx-vals={ props.Hx.Vals }
			}
			if props.Hx.Include != "" {
				hx-include={ props.Hx.Include }
			}
			if props.Hx.Indicator != "" {
				hx-indicator={ props.Hx.Indicator }
			}
			if props.Hx.Confirm != "" {
				hx-confirm={ props.Hx.Confirm }
			}
			if props.Hx.PushURL != "" {
				hx-push-url={ props.Hx.PushURL }
			}
		/>
		<label
			if props.ID != "" {
				for={ props.ID }
			}
			class="px-3 py-2 rounded cursor-pointer inline-flex items-center select-none border-2 border-transparent bg-unique peer-checked:border-slate-700"
		>
			{ props.Value }
		</label>
	</div>
}


templ AttentionRadioButton(props *structs.Radio) {
	<div class="flex items-center">
		<input
			type="radio"
			if props.ID != "" {
				id={ props.ID }
			}
			if props.Name != "" {
				name={ props.Name }
			}
			if props.Value != "" {
				value={ props.Value }
			}
			if props.Checked {
				checked
			}
			if props.Disabled {
				disabled
			}
			if props.Required {
				required
			}
			class="peer sr-only absolute"
			if props.FormBehaviors.ConstraintString() != "" {
				data-constraint={ props.FormBehaviors.ConstraintString() }
			}
			if props.FormBehaviors.DirtyWatch {
				data-dirty-watch="true"
			}
			if props.FormBehaviors.DirtyGroup != "" {
				data-dirty-group={ props.FormBehaviors.DirtyGroup }
			}
			if props.Hx.Method == structs.GET {
				hx-get={ props.Hx.URL }
			}
			if props.Hx.Method == structs.POST {
				hx-post={ props.Hx.URL }
			}
			if props.Hx.Method == structs.PUT {
				hx-put={ props.Hx.URL }
			}
			if props.Hx.Method == structs.DELETE {
				hx-delete={ props.Hx.URL }
			}
			if props.Hx.Trigger != "" {
				hx-trigger={ props.Hx.Trigger }
			}
			if props.Hx.Target != "" {
				hx-target={ props.Hx.Target }
			}
			if props.Hx.Swap != "" {
				hx-swap={ props.Hx.Swap }
			}
			if props.Hx.Vals != "" {
				hx-vals={ props.Hx.Vals }
			}
			if props.Hx.Include != "" {
				hx-include={ props.Hx.Include }
			}
			if props.Hx.Indicator != "" {
				hx-indicator={ props.Hx.Indicator }
			}
			if props.Hx.Confirm != "" {
				hx-confirm={ props.Hx.Confirm }
			}
			if props.Hx.PushURL != "" {
				hx-push-url={ props.Hx.PushURL }
			}
		/>
		<label
			if props.ID != "" {
				for={ props.ID }
			}
			class="px-3 py-2 rounded cursor-pointer inline-flex items-center select-none border-2 border-transparent bg-attention peer-checked:border-slate-700"
		>
			{ props.Value }
		</label>
	</div>
}


